@import "tailwindcss";
@custom-variant dark (&:is(.dark *));
/* Define Light Mode Colors (Default) */
:root {
  --background: #ffffff;
  --foreground: #111827; /* Dark text */
}

/* Define Dark Mode Colors */
.dark {
  --background: #000000;
  --foreground: #ffffff; /* White text */
}

/* Force the body to listen to the variables */
body {
  background-color: var(--background);
  color: var(--foreground);
}